{% extends 'form_base.html.twig' %}

    {% block content %}
        {{ form_start(form) }}
        <div data-uk-grid class="uk-padding-small">
            <div class="uk-width-1-6@m uk-form-buttons">
                <div class="uk-card">
                    <div class="uk-card-body uk-background-dark">
                        {{ form_row(form.save) }}
                        {{ form_row(form.save_exit) }}
                        {{ form_row(form.save_new) }}
                        <a class="uk-button uk-button-danger" href="{{ path('category_index') }}"><i
                                    class="far fa-times-circle"></i> Exit</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand@m ">
                <div data-uk-grid class="uk-child-width-expand@m">
                    {{ form_row(form.category) }}
                    {{ form_row(form.icon) }}
                    {{ form_row(form.parent) }}
                    {{ form_row(form.isEnabled) }}
                </div>
                <div data-uk-grid>
                    <div class="uk-width-expand">
                        {{ form_row(form.description) }}
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    {% endblock %}




