{% extends 'form_div_layout.html.twig' %}


{%- block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-input')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple -%}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-textarea')|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}



{%- block button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('uk-button-primary uk-button') ~ ' uk-button')|trim}) -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is not same as(false) -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if icon_before is defined and icon_before is not empty %}
            <i class="fa {{ icon_before }}"></i>
        {% endif %}

<span class="  {% if only_icon is not same as (false)%} uk-hidden {% endif %}">
            {{ translation_domain is same as(false) or label is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) }}

</span>
        {% if icon_after is defined and icon_after is not empty %}
            <i class="fa {{ icon_after }}"></i>
        {% endif %}
    </button>
{%- endblock button_widget -%}


{% block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' uk-select')|trim}) -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed %}



{% block switcher_widget %}
<label class="uk-switch uk-light">
    {{- block('checkbox_widget') -}}
    <div class="uk-switch-slider uk-switch-on-off uk-switch-big round"></div>
</label>
    {# write your form stuff here #}
{% endblock %}



{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}

        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}


{%- block form_errors -%}
    {%- if errors|length > 0 -%}
<span class="uk-label uk-label-danger uk-animation-scale-up">
            {%- for error in errors -%}
                {{ error.message }}
            {%- endfor -%}
</span>
    {%- endif -%}
{%- endblock form_errors -%}
