{% extends 'form_base.html.twig' %}
    {% block content %}
        <h1 class="uk-text-primary uk-text-bold">{{ title }}</h1>
        {{ form_start(form) }}
        <div class="uk-flex uk-margin-large-bottom uk-padding-small" data-uk-grid>
            <div class="uk-width-1-6@l uk-flex-first uk-form-buttons ">
                <div class="uk-card  uk-shadow-3d-dark-plus uk-margin-medium-top" data-uk-sticky>
                    <div class="uk-card-body">
                        {{ form_row(form.save) }}
                        {{ form_row(form.save_exit) }}
                        {{ form_row(form.save_new) }}
                        <a class="uk-button uk-button-danger" href="{{ path('article_index') }}"><i
                                    class="far fa-times-circle"></i> Exit</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand@m">

                <div data-uk-grid>

                    <div class="uk-width-expand">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="uk-width-1-4">
                        {{ form_row(form.category) }}
                    </div>
                    <div class="uk-width-1-4">
                        {{ form_row(form.isPublished) }}
                    </div>
                </div>
                <div data-uk-grid>
                    <div class="uk-width-expand">
                        {{ form_row(form.content) }}
                    </div>
                </div>
            </div>
        </div>


        {{ form_end(form) }}
    {% endblock %}
  {% block right_sidebar %}
  {% endblock %}